# tkinter (needs to be imported separatedly by cli)
tkcalendar
Pillow
fpdf2
mysql-connector-python
pandas
numpy
dotenv
# Install passlib and its recommended hashing backends
passlib[bcrypt,argon2-cffi]